<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- 数据访问层   -->
	<bean id="dbDao" class="com.zswy.group.dao.DBDaoImpl" abstract="true">
		<property name="jt">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>  
	<bean id="userDao" class="com.zswy.group.dao.UserDaoImpl" parent="dbDao">
	</bean>  
	<bean id="treeDao" class="com.zswy.group.dao.TreeDaoImpl" parent="dbDao"></bean>
	<bean id="newsDao" class="com.zswy.group.dao.NewsDaoImpl" parent="dbDao"></bean>
</beans>