<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
				
 	<bean id="UserServiceImpl" class="com.zswy.group.service.UserServiceImpl">
		<property name="dao">
			<ref bean="userDao" />
		</property> 
	 </bean> 
	 <bean id="TreeServiceImpl" class="com.zswy.group.service.TreeServiceImpl">
		<property name="dao">
			<ref bean="treeDao" />
		</property> 
	 </bean> 
	  <bean id="NewsServiceImpl" class="com.zswy.group.service.NewsServiceImpl">
		<property name="dao">
			<ref bean="newsDao" />
		</property> 
	 </bean> 
	 
	 
</beans>