<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<bean id="UserAction" class="com.zswy.group.action.UserAction">
		<property name="userService">
			<ref bean="UserServiceImpl"/>
		</property>
	</bean>
	
	<bean id="SysAction" class="com.zswy.group.action.SysAction">
		<property name="treeService">
			<ref bean="TreeServiceImpl"/>
		</property>
	</bean>
	<bean id="tree" class="com.zswy.group.util.TreeUtil" parent="dbDao"></bean>
		
	<bean id="NewsAction" class="com.zswy.group.action.NewsAction">
		<property name="newsService">
			<ref bean="NewsServiceImpl"/>
		</property>
	</bean>
	
	<bean id="ExtjsAction" class="com.zswy.group.action.ExtjsAction">
		
	</bean>
</beans>