<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
	<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-CN" />
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<title>中石万业</title>
	<link href="css/reset.css" rel="stylesheet" type="text/css" />
	<link href="css/index.css" rel="stylesheet" type="text/css" />
	<script src="js/yu.js" type="text/javascript"></script>
	<script src="js/tb.js" type="text/javascript"></script>
</head>

<body>
<div class="warp">
<!--导航-->
<div class="header">

	<!--logo-->
	<h1 class="logo"><a href="" title="" ><span>中石万业</span></a></h1>
	<!--logo结束-->

	<!--导航-->
	<div class="nav">
		<a href="#" title="">首页</a><a href="#" title="">走进中石</a><a href="#" title="">产品服务</a><a href="#" title="">新闻中心</a><a href="#" title="" class="none">联系我们</a>
	</div>
	<!--导航结束-->

</div>
<!--导航结束-->

<!--广告-->
<div class="flash960">
	<div id="YFocus">
		<div id="YImage">
		<p id="YPhotos">
			<a href="" ><img src="ad/flash1.jpg"  /></a>
			<a href="" title=""><img src="ad/flash2.jpg"  /></a>
			<a href="" title=""><img src="ad/flash3.jpg" alt="" /></a>
		</p>
	</div>
	<ul id="YSamples">
    	<li><a href="#" title="" class="current"><img src="ad/flash_1.jpg" alt="" /></a><span>向来是国际电影节</span></li>
    	<li><a href="#" title=""><img src="ad/flash_2.jpg" alt="" /></a><span>IT博客| Win 7节能有 </span></li>
    	<li><a href="#" title=""><img src="ad/flash_3.jpg" alt="" /></a><span>向来是国际电影樟</span></li>
	</ul>
</div>
</div>
<!--广告结束-->


<!--主要内容-->
<div class="content">

	<!--左边234-->
	<div class="sidebar_left">

		<!--视频-->
		<div class="shipin">
			<i class="x1"></i>
			<div></div>
			<i class="x2"></i>
		</div>
		<!--视频结束-->

		<!--客服中心-->
		<a href="#" title="" class="kefu"><span>4008107818</span></a>
		<!--客服中心结束-->

		<!--my中石-->
		<a href="#" title="" class="myzs"><span>my中石</span></a>
		<!--my中石结束-->

		<!--中石集团荣誉-->
		<ul class="rongyu">
			<li><a href="#" title="">中石证书中石证书</a></li>
			<li><a href="#" title="">中石证书中石证书</a></li>
			<li><a href="#" title="">中石证书中石证书</a></li>
			<li><a href="#" title="">中石证书中石证书</a></li>
		
		</ul>
		<!--中石集团荣誉结束-->

		<!--leftnew-->
		<div class="leftnew">
			<i class="x3"></i>
			<dl>
				<dt>
					<img src="ad/186_62.jpg" alt="" />
					<a href="#" title="">昨日，贾樟柯导演所在的西河星汇数字娱乐技术有限公司代表贾樟柯本人向本报发来这一事件的详细说明。说</a>
				</dt>
				<dd><a href="#" title="">中国导演力挺贾樟柯退出墨尔本</a></dd>
				<dd><a href="#" title="">住建部:住宅设计使用年限一般</a></dd>
				<dd><a href="#" title="">中俄军演剑指"三股势力" 图</a></dd>
				<dt class="none"><a href="#" title=""  class="more"></a></dt>
			</dl>
			<i class="x4"></i>
		</div>
		<!--leftnew结束-->
	
	</div>
	<!--左边结束-->

	<!--中间406-->
	<div class="sidebar_center">

		<!--公司1-->
		<div class="sub_company">
			<h2><a href="#" title="" >中石万业科技（北京）</a></h2>
			<dl>
				<dt><a href="#" title="" >向来是国际电影节“宠儿”的贾樟柯导演第一次对电影节说了“不”字。据澳大利亚媒体22日报道，为抗议第58届墨尔本国际电影节播放介绍“东突”民族分裂分子的纪录片，中国电影导演</a></dt>
				<dd>
					<p>联系电话：010-54448956</p>
					<p>传&nbsp;&nbsp;&nbsp;&nbsp;真：010-59473422</p>
					<p>联&nbsp;系&nbsp;人：张先生</p>
				</dd>
			</dl>
		</div>
		<!--公司1结束-->

		<!--公司2-->
		<div class="sub_company">
			<h2><a href="#" title="" >中石万业科技（北京）</a></h2>
			<dl class="wj">
				<dt><a href="#" title="" >向来是国际电影节“宠儿”的贾樟柯导演第一次对电影节说了“不”字。据澳大利亚媒体22日报道，为抗议第58届墨尔本国际电影节播放介绍“东突”民族分裂分子的纪录片，中国电影导演</a></dt>
				<dd>
					<p>联系电话：010-54448956</p>
					<p>传&nbsp;&nbsp;&nbsp;&nbsp;真：010-59473422</p>
					<p>联&nbsp;系&nbsp;人：张先生11</p>
				</dd>
			</dl>
		</div>
		<!--公司2结束-->

		<!--公司3-->
		<div class="sub_company">
			<h2><a href="#" title="" >中石万业科技（北京）</a></h2>
			<dl>
				<dt><a href="#" title="" >向来是国际电影节“宠儿”的贾樟柯导演第一次对电影节说了“不”字。据澳大利亚媒体22日报道，为抗议第58届墨尔本国际电影节播放介绍“东突”民族分裂分子的纪录片，中国电影导演</a></dt>
				<dd>
					<p>联系电话：010-54448956</p>
					<p>传&nbsp;&nbsp;&nbsp;&nbsp;真：010-59473422</p>
					<p>联&nbsp;系&nbsp;人：张先生</p>
				</dd>
			</dl>
		</div>
		<!--公司3结束-->

		<!--公司4-->
		<div class="sub_company">
			<h2><a href="#" title="" >中石万业科技（北京）</a></h2>
			<dl class="wj">
				<dt><a href="#" title="" >向来是国际电影节“宠儿”的贾樟柯导演第一次对电影节说了“不”字。据澳大利亚媒体22日报道，为抗议第58届墨尔本国际电影节播放介绍“东突”民族分裂分子的纪录片，中国电影导演</a></dt>
				<dd>
					<p>联系电话：010-54448956</p>
					<p>传&nbsp;&nbsp;&nbsp;&nbsp;真：010-59473422</p>
					<p>联&nbsp;系&nbsp;人：张先生11</p>
				</dd>
			</dl>
		</div>
		<!--公司4结束-->

		<!--公司5-->
		<div class="sub_company">
			<h2><a href="#" title="" >中石万业科技（北京）</a></h2>
			<dl>
				<dt><a href="#" title="" >向来是国际电影节“宠儿”的贾樟柯导演第一次对电影节说了“不”字。据澳大利亚媒体22日报道，为抗议第58届墨尔本国际电影节播放介绍“东突”民族分裂分子的纪录片，中国电影导演</a></dt>
				<dd>
					<p>联系电话：010-54448956</p>
					<p>传&nbsp;&nbsp;&nbsp;&nbsp;真：010-59473422</p>
					<p>联&nbsp;系&nbsp;人：张先生</p>
				</dd>
			</dl>
		</div>
		<!--公司5结束-->

		<!--公司6-->
		<div class="sub_company">
			<h2><a href="#" title="" >中石万业科技（北京）</a></h2>
			<dl class="wj">
				<dt><a href="#" title="" >向来是国际电影节“宠儿”的贾樟柯导演第一次对电影节说了“不”字。据澳大利亚媒体22日报道，为抗议第58届墨尔本国际电影节播放介绍“东突”民族分裂分子的纪录片，中国电影导演</a></dt>
				<dd>
					<p>联系电话：010-54448956</p>
					<p>传&nbsp;&nbsp;&nbsp;&nbsp;真：010-59473422</p>
					<p>联&nbsp;系&nbsp;人：张先生11</p>
				</dd>
			</dl>
		</div>
		<!--公司6结束-->
	
	</div>
	<!--中间406结束-->

	<!--右边-->
	<div class="sidebar_right">

		<!--公司动态 行业新闻-->
		<div class="news">
			<ul class="menu0" id="menu0">
				<li onmouseover="setTab(0,0)" class="hover"><a href="#" title="" >公司动态</a></li>
				<li onmouseover="setTab(0,1)"><a href="#" title="">行业新闻</a></li>
			</ul>
			<div class="main0" id="main0">
				<div class="block">
					<ul>
						<li><a href="#" title="">美公布阿波罗登月点照片(图)</a><span class="new"></span></li>
						<li><a href="#" title="">日全食照片征集中</a></li>
						<li><a href="#" title="" >探秘国外子弹工厂(图)</a></li>
						<li><a href="#" title="" >IT博客| Win 7节能有高招(组图)</a></li>
						<li><a href="#" title="" >长颈鹿脑袋伸进窗户与人分享早餐(图) </a></li>
						<li><a href="#" title="" >我国用皮肤细胞培育出老鼠 </a></li>
						<li><a href="#" title="" >直击ChinaJoy </a></li>
						<li><a href="#" title="" >不后悔网游毒品说 </a></li>
					</ul>
					<a href="#" title="" class="more"></a>
				</div>
				<div>
					<ul>
						<li><a href="#" title="">2美公布阿波罗登月点照片(图)</a></li>
						<li><a href="#" title="">2日全食照片征集中</a></li>
						<li><a href="#" title="" >2探秘国外子弹工厂(图)</a></li>
						<li><a href="#" title="" >2IT博客| Win 7节能有高招(组图)</a></li>
						<li><a href="#" title="" >2长颈鹿脑袋伸进窗户与人分享早餐(图) </a></li>
						<li><a href="#" title="" >2我国用皮肤细胞培育出老鼠 </a></li>
						<li><a href="#" title="" >2直击ChinaJoy </a></li>
						<li><a href="#" title="" >2不后悔网游毒品说 </a></li>
					</ul>
					<a href="#" title="" class="more"></a>
				</div>
				<div class="bottom"></div>
			</div>
		</div>
		<!--公司动态结束 行业新闻-->

		<!--广告轮换-->
		<div class="lh_right">
			<i class="x1"></i>
			<div id="MainPromotionBanner">
				<div id="SlidePlayer">
					<ul class="Slides">
						<li><a target="_blank" href="#"><img src="ad/1.jpg" /></a></li>
						<li><a target="_blank" href="#"><img src="ad/2.jpg" /></a></li>
						<li><a target="_blank" href="#"><img src="ad/3.jpg" /></a></li>
						<li><a target="_blank" href="#"><img src="ad/4.jpg" /></a></li>
					</ul>
				</div>
				<script type="text/javascript">
					TB.widget.SimpleSlide.decoration('SlidePlayer', {eventType:'mouse', effect:'scroll'});
				</script>
			</div>
			<i class="x2"></i>
		</div>
		<!--广告轮换结束-->

		<!--中石事记 中石战略-->
		<div class="shiji">
			<ul class="menu0" id="menu1">
				<li onmouseover="setTab(1,0)" class="hover"><a href="#" title="" >中石事记</a></li>
				<li onmouseover="setTab(1,1)"><a href="#" title="">中石战略</a></li>
			</ul>
			<div class="main0" id="main1">
				<div class="block">
					<ul>
						<li><a href="#" title="">美公布阿波罗登月点照片(图)</a><span class="new"></span></li>
						<li><a href="#" title="">日全食照片征集中</a></li>
						<li><a href="#" title="" >探秘国外子弹工厂(图)</a></li>
						<li><a href="#" title="" >IT博客| Win 7节能有高招(组图)</a></li>
						<li><a href="#" title="" >长颈鹿脑袋伸进窗户与人分享早餐(图) </a></li>
						<li><a href="#" title="" >我国用皮肤细胞培育出老鼠 </a></li>
						<li><a href="#" title="" >直击ChinaJoy </a></li>
						<li><a href="#" title="" >不后悔网游毒品说 </a></li>
					</ul>
					<a href="#" title="" class="more"></a>
				</div>
				<div>
					<ul>
						<li><a href="#" title="">2美公布阿波罗登月点照片(图)</a></li>
						<li><a href="#" title="">2日全食照片征集中</a></li>
						<li><a href="#" title="" >2探秘国外子弹工厂(图)</a></li>
						<li><a href="#" title="" >2IT博客| Win 7节能有高招(组图)</a></li>
						<li><a href="#" title="" >2长颈鹿脑袋伸进窗户与人分享早餐(图) </a></li>
						<li><a href="#" title="" >2我国用皮肤细胞培育出老鼠 </a></li>
						<li><a href="#" title="" >2直击ChinaJoy </a></li>
						<li><a href="#" title="" >2不后悔网游毒品说 </a></li>
					</ul>
					<a href="#" title="" class="more"></a>
				</div>
				<div class="bottom"></div>
			</div>
		</div>
		<!--中石事记 中石战略结束-->

		<!--网站建设-->
		<div class="wzjs">
			<ul class="menu2" id="menu2">
				<li onmouseover="setTab(2,0)" class="hover"><a href="#" title="" >中石事记</a></li>
				<li onmouseover="setTab(2,1)"><a href="#" title="">中石战略</a></li>
				<li onmouseover="setTab(2,2)"><a href="#" title="">油田软件</a></li>
			</ul>
			<div class="bottom"></div>
			<div class="main2" id="main2">
				<div class="block">
					<p><a href="#" title="">致力于全球企业提供高效软件</a></p>
					<a href="#" title="" class="button"></a>
				</div>
				<div>
					<p><a href="#" title="">2致力于全球企业提供高效软件</a></p>
					<a href="#" title="" class="button"></a>
				</div>
				<div>
					<p><a href="#" title="">3致力于全球企业提供高效软件</a></p>
					<a href="#" title="" class="button"></a>
				</div>
			</div>
		</div>
		<!--网站建设结束-->

	</div>
	<!--右边结束-->

</div>
<!--主要内容结束-->

<!--新闻快讯-->
<div class="kuaixun">
	<ul>
		<li><a href="#" title="" class="tit">新闻快讯&nbsp;>&nbsp;</a></li>
		<li>
			<i class="x1"></i>
			<div><a href="#" title="" onfocus="this.blur()">我国拟规定上下班途中受机动车伤害</a>【2009-7-24】</div>
			<i class="x2"></i>
			&nbsp;
		</li>
		<li>
			<i class="x1"></i>
			<div><a href="#" title="" onfocus="this.blur()">我国拟规定上下班途中受机动车伤害</a>【2009-7-24】</div>
			<i class="x2"></i>
		</li>
		<li>
			<input type="text" name="" title="" id="" class="search" value="-搜索-" />
			<input type="button" src="" title="" id="" class="Btn" />
		</li>
	</ul>
</div>
<!--新闻快讯结束-->

<!--footer-->
<div class="footer">
	版权所有：中石万业（北京）科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;服务热线：400-810-7818&nbsp;&nbsp;&nbsp;&nbsp;京ICP备09034915号 
</div>
<!--footer结束-->
</div>
</body>
</html>
<script type="text/javascript" language="javascript" src="js/index.js"></script>
<script language="javascript" type="text/javascript">
<!--
(function(){
	
	YAO.YTabs( {
		tabs: YAO.get('YSamples').getElementsByTagName('img'),
		contents: YAO.get('YPhotos').getElementsByTagName('img'),
		auto: true,
		scroll: true,
		scrollId: 'YPhotos'
	});
})();
//-->
</script>

