<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-CN" />
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<title>中石万业</title>
	<link href="css/reset.css" rel="stylesheet" type="text/css" />
	<link href="css/index.css" rel="stylesheet" type="text/css" />
	
</head>

<body>
<div class="warp">
<!--导航-->
<div class="header">

	<!--logo-->
	<h1 class="logo"><a href="" title="" ><span>中石万业</span></a></h1>
	<!--logo结束-->

	<!--导航-->
	<div class="nav">
		<a href="#" title="">首页</a><a href="#" title="">走进中石</a><a href="#" title="">产品服务</a><a href="#" title="">新闻中心</a><a href="#" title="" class="none">联系我们</a>
	</div>
	<!--导航结束-->

</div>
<!--导航结束-->

<!--zjzs-->
<div class="zjcontent">
	
	<!--左边-->
	<div class="leftInt">
		<!--走进中石-->
		<div class="zjtit"><span>走进中石</span></div>
		<!--走进中石结束-->

		<!--nav-->
		<div class="zj_nav" id="leftNav">
			<h2><img src="images/start.gif" alt="" />中石简介</h2>
			<h2><img src="images/start.gif" alt="" />中石战略</h2>
			<h2><img src="images/start.gif" alt="" />中石事记</h2>
			<h2 id="pNode1"  onclick="showList(this.id);"><img src="images/start.gif" alt="" />中石业务</h2>
			<ul id="pNode1_ljf" style="display:block">
				<li><a href="#" title="">中石万业科技（北京）有限公司</a></li>
				<li><a href="#" title="">渤海湾石油科技有限公司</a></li>
				<li><a href="#" title="">北京万方聚强石油工程技术</a></li>
				<li><a href="#" title="">北京拓新石奥科技开发有限公司</a></li>
				<li><a href="#" title="">东营辉瑞工贸有限公司</a></li>
				<li><a href="#" title="">胜兴万方石油科技有限公司</a></li>
			</ul>
			<h2><img src="images/start.gif" alt="" />中石文化</h2>
			<h2><img src="images/start.gif" alt="" />中石管理</h2>
			<h2><img src="images/start.gif" alt="" />荣誉殿堂</h2>
		</div>
		<!--nav结束-->

		<!--客服中心-->
		<a href="#" title="" class="kefu"><span>4008107818</span></a>
		<!--客服中心结束-->

		<div class="h10"></div>

		<!--my中石-->
		<a href="#" title="" class="myzs"><span>my中石</span></a>
		<!--my中石结束-->

		<div class="h10"></div>

		<!--新闻中心-->
		<a href="#" title="" class="newcenter"><span>新闻中心</span></a>
		<!--新闻中心结束-->

	</div>
	<!--左边结束-->
	
	<!--右边-->
	<div class="rightInt">

		<!--广告图处-->
		<div class="zj_img"></div>
		<!--广告图处结束-->

		<!--走进中石-->
		<div class="zjzs_warp">
			<div class="zjzs">
				<h1><span>走进中石</span></h1>
				<div class="zjzs_content">

					<!--视频-->
					<div class="shipin">
						<i class="x1"></i>
						<div></div>
						<i class="x2"></i>
					</div>
					<!--视频结束-->

					<p>2009年第2季度的数据表明，今年以来，我国应对国际金融危各项政策措施得到了较好的落实，固定资产投资和城乡消费品市场保持较快增长，工业生产减速幅度逐月收小，部分经济指标出现了趋稳转暖迹象，宏观经济快速下滑的势头有所遏制。但是，外部环境继续恶化导致出口需求急剧下滑，国际金融危机对我国的不利影响还在进一步扩散和加深，经济运行仍未形成稳定回升趋势，经济运行中仍然存在企业利润大幅降低和就业形势严峻等问题，经济趋稳回升仍面临较大压力。</p>
					<p>根据2009年第2季度的统计数据，截止到2009年6月份，中国网民数量达到3.41亿，继续保持全球首位，网站数量【即域名注册者在中国境内的网站数（包括在境内接入和境外接入）】已经达到512.5万。</p>
					<p>统计数据表明，51.4%的B2B企业在一年内有明确的电子商务人才需求，38.9%的企业有潜在的电子商务人求；70.2%的B2C企业在未来半年内有明确的人才需求，25.3%的企业有潜在人才需求。截止到目前，我国开设电子商务本科高校超过275所，高职院校超过700所，按照本科平均40人、专科平均80人估计，毕业生人数大概在7万左右；今年新增用人需求200万以上。中国电子商务从业人员人才缺口将持续走高，电子商务专业人才就业市场宽广。</p>
				</div>

				<!--子公司-->
				<div class="com6">

					<div class="com">
						<i class="x1"></i>
						<div class="a1">
							<h3>中石万业科技（北京）有限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

					<div class="com">
						<i class="x1"></i>
						<div class="a2">
							<h3 class="l">渤海湾石油科技（北京）有<br />限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

					<div class="com none">
						<i class="x1"></i>
						<div class="a3">
							<h3 class="l">北京万方聚强石油工程技术有限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

					<div class="com ">
						<i class="x1"></i>
						<div class="a1">
							<h3>中石万业科技（北京）有限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

					<div class="com">
						<i class="x1"></i>
						<div class="a2">
							<h3>中石万业科技（北京）有限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

					<div class="com none">
						<i class="x1"></i>
						<div class="a3">
							<h3>中石万业科技（北京）有限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

				</div>
				<!--子公司结束-->

			</div>
		</div>
		<!--走进中石结束-->


	</div>
	<!--右边结束-->



</div>
<!--zjzs结束-->

<!--footer-->
<div class="footer">
	版权所有：中石万业（北京）科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;服务热线：400-810-7818&nbsp;&nbsp;&nbsp;&nbsp;京ICP备09034915号 
</div>
<!--footer结束-->

</div>




</body>
</html>
<script type="text/javascript" language="javascript" src="js/index.js"></script>
<script type="text/javascript" language="javascript" >
	function showList(div_id) 
		{
		 var obj = document.getElementById(div_id + "_ljf");
		 var click_obj = document.getElementById(div_id);
		 var text = click_obj.innerHTML;
		 if(obj.style.display == "none") 
		 {
		  var str = div_id.substring(0,div_id.length - parseInt(getNumberLen(div_id)));
		  var num = div_id.replace(str,"");
		  for(i=1;;i++)
		  {
		   if(!document.getElementById(str+i)) break;
		   document.getElementById(str+i+"_ljf").style.display = "none";
		   var iHtml = document.getElementById(str+i).innerHTML;
		   document.getElementById(str+i).innerHTML = iHtml.replace("images/over.gif","images/start.gif");
		  }
		  
		  obj.style.display = "block";
		  click_obj.innerHTML = text.replace("images/start.gif","images/over.gif");
		 } 
		 else 
		 { 
		  obj.style.display = "none";
		  click_obj.innerHTML = text.replace("images/over.gif","images/start.gif");
		 } 
		}

		function getNumberLen(str)
		{
		 var ljf = null;
		 if (ljf = str.match(/(\d+)[^\d]*$/))
		 {
		  return ljf[1].length;
		 }
		}
</script>