<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
	<meta http-equiv="Content-Language" content="zh-CN" />
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<title>中石万业</title>
	<link href="css/reset.css" rel="stylesheet" type="text/css" />
	<link href="css/index.css" rel="stylesheet" type="text/css" />

	
</head>

<body>
<div class="warp">
<!--导航-->
<div class="header">

	<!--logo-->
	<h1 class="logo"><a href="" title="" ><span>中石万业</span></a></h1>
	<!--logo结束-->

	<!--导航-->
	<div class="nav">
		<a href="#" title="">首页</a><a href="#" title="">走进中石</a><a href="#" title="">产品服务</a><a href="#" title="">新闻中心</a><a href="#" title="" class="none">联系我们</a>
	</div>
	<!--导航结束-->

</div>
<!--导航结束-->

<!--zjzs-->
<div class="zjcontent">
	
	<!--左边-->
	<div class="leftInt">
		<!--走进中石-->
		<div class="zjtit"><span>走进中石</span></div>
		<!--走进中石结束-->

		<!--nav-->
		<div class="zj_nav" >
			<h2><img src="images/start.gif" alt="" />中石简介</h2>
			<h2><img src="images/start.gif" alt="" />中石战略</h2>
			<h2><img src="images/start.gif" alt="" />中石事记</h2>
			<h2 id="pNode1"  onclick="showList(this.id);"><img src="images/start.gif" alt="" />中石业务</h2>
			<ul id="pNode1_ljf" style="display:block">
				<li><a href="#" title="">中石万业科技（北京）有限公司</a></li>
				<li><a href="#" title="">渤海湾石油科技有限公司</a></li>
				<li><a href="#" title="">北京万方聚强石油工程技术</a></li>
				<li><a href="#" title="">北京拓新石奥科技开发有限公司</a></li>
				<li><a href="#" title="">东营辉瑞工贸有限公司</a></li>
				<li><a href="#" title="">胜兴万方石油科技有限公司</a></li>
			</ul>
			<h2><img src="images/start.gif" alt="" />中石文化</h2>
			<h2><img src="images/start.gif" alt="" />中石管理</h2>
			<h2><img src="images/start.gif" alt="" />荣誉殿堂</h2>
		</div>
		<!--nav结束-->

		<!--客服中心-->
		<a href="#" title="" class="kefu"><span>4008107818</span></a>
		<!--客服中心结束-->

		<div class="h10"></div>

		<!--my中石-->
		<a href="#" title="" class="myzs"><span>my中石</span></a>
		<!--my中石结束-->

		<div class="h10"></div>

		<!--新闻中心-->
		<a href="#" title="" class="newcenter"><span>新闻中心</span></a>
		<!--新闻中心结束-->

	</div>
	<!--左边结束-->
	
	<!--右边-->
	<div class="rightInt">

		<!--广告图处-->
		<div class="zj_img"></div>
		<!--广告图处结束-->

		<!--走进中石-->
		<div class="zjzs_warp">
			<div class="zjzs">
				<h1><span>走进中石</span></h1>
				<div class="zjzs_content">

					<!--视频-->
					<div class="shipin">
						<i class="x1"></i>
						<div></div>
						<i class="x2"></i>
					</div>
					<!--视频结束-->

					<!--列表-->
					<ul class="list">
						<li id="list1"  onclick="showList(this.id);">以互联网应用软件研发应用为核心的高科技企业，</li>
						<li id="list2"  onclick="showList(this.id);">中石万业已成为应用广泛、实施服务经验丰富的软件</li>
						<li id="list3"  onclick="showList(this.id);">与市场推广。经过不断的发展壮大，中石</li>
						<li id="list4"  onclick="showList(this.id);">联网应用软件研发应用为核心的高科技企业</li>
						<li id="list5"  onclick="showList(this.id);">经过不断的发展壮大，中石万业已成为应用广</li>
						<li id="list6"  onclick="showList(this.id);">以互联网应用软件研发应用为核心的高科技企业，</li>
						<li id="list7"  onclick="showList(this.id);">中石万业已成为应用广泛、实施服务经验丰富的软件</li>
						<li id="list8"  onclick="showList(this.id);">与市场推广。经过不断的发展壮大，中石</li>
						<li id="list9"  onclick="showList(this.id);">联网应用软件研发应用为核心的高科技企业</li>
						<li id="list10"  onclick="showList(this.id);">经过不断的发展壮大，中石万业已成为应用广</li>
					</ul>
					<div class="page">
						<a href="#" class="hover">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#">7</a>
					</div>
					<div  id="list1_ljf" style="display:block">
						中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、
					</div>
					<div  id="list2_ljf" style="display:none">
						2中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、
					</div>
					<div  id="list3_ljf" style="display:none">
						3中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、
					</div>
					<div  id="list4_ljf" style="display:none">
						4中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、
					</div>
					<div  id="list5_ljf" style="display:none">
						55555555555555中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、
					</div>
					<div  id="list6_ljf" style="display:block">
						66666666666666中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、
					</div>
					<div  id="list7_ljf" style="display:none">
						77777777777777中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、
					</div>
					<div  id="list8_ljf" style="display:none">
						888888888中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、
					</div>
					<div  id="list9_ljf" style="display:none">
						999999中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、
					</div>
					<div  id="list10_ljf" style="display:none">
						10101010中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、
					</div>
					<!--列表结束-->
					<br /><br />

				</div>

				<!--子公司-->
				<div class="com6">

					<div class="com">
						<i class="x1"></i>
						<div class="a1">
							<h3>中石万业科技（北京）有限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

					<div class="com">
						<i class="x1"></i>
						<div class="a2">
							<h3 class="l">渤海湾石油科技（北京）有<br />限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

					<div class="com none">
						<i class="x1"></i>
						<div class="a3">
							<h3 class="l">北京万方聚强石油工程技术有限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

					<div class="com ">
						<i class="x1"></i>
						<div class="a1">
							<h3>中石万业科技（北京）有限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

					<div class="com">
						<i class="x1"></i>
						<div class="a2">
							<h3>中石万业科技（北京）有限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

					<div class="com none">
						<i class="x1"></i>
						<div class="a3">
							<h3>中石万业科技（北京）有限公司</h3>
							中石万业科技(北京)有限公司（www.zsgroup.net）是以互联网应用软件研发应用为核心的高科技企业，专注于电子商务中间件、商业智能软件的研发工作。<br />作为一个优秀的管理软件供应商，中经营理念，长期专注于软件产品研发与市场推广。经过不断的发展壮大，中石万业已成为应用广泛、实施服务经验丰富的软件供应商。
							<a href="#" title="" class="go"></a>
						</div>
						<i class="x2"></i>
					</div>

				</div>
				<!--子公司结束-->

			</div>
		</div>
		<!--走进中石结束-->


	</div>
	<!--右边结束-->



</div>
<!--zjzs结束-->

<!--footer-->
<div class="footer">
	版权所有：中石万业（北京）科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;服务热线：400-810-7818&nbsp;&nbsp;&nbsp;&nbsp;京ICP备09034915号 
</div>
<!--footer结束-->

</div>




</body>
</html>
<script type="text/javascript" language="javascript" src="js/index.js"></script>
<script type="text/javascript" language="javascript" >
	function showList(div_id) 
		{
		 var obj = document.getElementById(div_id + "_ljf");
		 var click_obj = document.getElementById(div_id);
		 var text = click_obj.innerHTML;
		 if(obj.style.display == "none") 
		 {
		  var str = div_id.substring(0,div_id.length - parseInt(getNumberLen(div_id)));
		  var num = div_id.replace(str,"");
		  for(i=1;;i++)
		  {
		   if(!document.getElementById(str+i)) break;
		   document.getElementById(str+i+"_ljf").style.display = "none";
		   var iHtml = document.getElementById(str+i).innerHTML;
		   document.getElementById(str+i).innerHTML = iHtml.replace("images/over.gif","images/start.gif");
		  }
		  
		  obj.style.display = "block";
		  click_obj.innerHTML = text.replace("images/start.gif","images/over.gif");
		 } 
		 else 
		 { 
		  obj.style.display = "none";
		  click_obj.innerHTML = text.replace("images/over.gif","images/start.gif");
		 } 
		}

		function getNumberLen(str)
		{
		 var ljf = null;
		 if (ljf = str.match(/(\d+)[^\d]*$/))
		 {
		  return ljf[1].length;
		 }
		}
</script>