<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link href="css/reset.css" rel="stylesheet" type="text/css">
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<script src="js/yu.js" type="text/javascript"></script>
    <script src="js/tb.js" type="text/javascript"></script>
	<script type="text/javascript" language="javascript" src="js/index.js"></script>
</head>
<body>
<div class="warp">
<!--顶部广告-->
<div class="top"><img src="ad/top.jpg" alt="" /></div>
<!--顶部广告结束-->


<!--logo,search-->
<div class="ls">
	<div class="logo"><span>石油信息网</span></div>
	<dl id="search">
		<dt>
			<a href="#" title="" class="hover" onclick="getclass(this);">产品</a>
			<a href="#" title="" onclick="getclass(this);">公司</a>
			<a href="#" title="" onclick="getclass(this);">买家</a>
			<a href="#" title="" onclick="getclass(this);">资讯</a>
		</dt>
		<dd>
			<input type="text" name="" value="" id="" class="tt" value="请输入产品名称"/>
			<input type="button" src="" title="" id="" class="Btn" />
			<a href="#" title="" onFocus="this.blur()">供应商直达</a>
		</dd>
	</dl>
</div>
<!--logo,search结束-->

<!--导航-->
<div class="nav">
	<i class="x1"></i>
	<a href="#" title="" onFocus="this.blur()" class="hover">&nbsp;首页&nbsp;</a><a href="#" title="" onFocus="this.blur()">石油装备</a><a href="#" title="" onFocus="this.blur()">石油化工</a><a href="#" title="" onFocus="this.blur()">库存二手</a><a href="#" title="" onFocus="this.blur()">石油资讯</a><a href="#" title="" onFocus="this.blur()">价格行情</a><a href="#" title="" onFocus="this.blur()">招商招标</a><a href="#" title="" onFocus="this.blur()">石油人才</a><a href="#" title="" onFocus="this.blur()">专家访谈</a><a href="#" title="" onFocus="this.blur()">石油展会</a><a href="#" title="" onFocus="this.blur()" class="none">石油论坛</a>
	<i class="x2"></i>
</div>
<!--导航结束-->

<div class="left">

	<!--广告商铺注册-->
	<div class="rapid">
	
		<!--企业商铺-->
		<dl class="companyShop">
			<dt>
				<a href="#" title="" onFocus="this.blur()">企业商铺品牌联播?</a>
				<span class="right"><a href="#" title="" onFocus="this.blur()">我要加入</a></span>
			</dt>
			<dd>
				<div class="tt">
					<img src="ad/88_68.gif" alt="" />
					<ul>
						<li><a href="#" title="" onFocus="this.blur()">时尚背包加盟时尚背包加盟</a></li>
						<li><a href="#" title="" onFocus="this.blur()">时尚背包加盟时尚背包加盟</a></li>
						<li><a href="#" title="" onFocus="this.blur()">时尚背包加盟时尚背包加盟</a></li>
						<li><a href="#" title="" onFocus="this.blur()">时尚背包加盟时尚背包加盟</a></li>
					</ul>
				</div>
				<div class="bb"><input type="button" src="" title="" id="" class="Btn" />&nbsp;<a href="#" title="" >怎样才能品牌联播?</a>&nbsp;<a href="#" title="" onFocus="this.blur()">最新加盟企业</a></div>
			</dd>
		</dl>
		<!--企业商铺结束-->

		<!--广告-->
		<div class="flash">
			<div id="MainPromotionBanner">
				<div id="SlidePlayer">
					<ul class="Slides">
						<li><a target="_blank" href="#"><img src="ad/flash1.jpg" /></a></li>
						<li><a target="_blank" href="#"><img src="ad/flash2.jpg" /></a></li>
						<li><a target="_blank" href="#"><img src="ad/flash3.jpg" /></a></li>
					</ul>
				</div>
						<script type="text/javascript">
								TB.widget.SimpleSlide.decoration('SlidePlayer', {eventType:'mouse', effect:'scroll'});
					</script>
			</div>
		</div>

		<!--广告结束-->

		<!--库存二手-->
		<dl class="stroy">
			<dt><a href="#" title="" onFocus="this.blur()" >库存二手</a></dt>
			<dd>
				<ul>
					<li><a href="#" title="" onFocus="this.blur()">石油装备</a></li>
					<li><a href="#" title="" onFocus="this.blur()" >石油化工</a></li>
				</ul>

			</dd>
		</dl>
		<!--库存二手-->

	

	<!--广告商铺注册结束-->

	<!--行业市场-->
	<div class="py">
		<h1>
			<span>行业市场</span>
			<a href="#" title="" onFocus="this.blur()">石油装备</a>
			<a href="#" title="" onFocus="this.blur()" class="hg">石油化工</a>
			<a href="#" title="" onFocus="this.blur()" class="first">上网做生意&nbsp;首选石油通</a>
		</h1>
		<div class="list">

			<!--abc-->
			<div class="menu1box">拼音检索:
				<ul id="menu1">
					<li onmouseover="setTab(1,0)" onmouseout="yincang()">a</li>
					<li onmouseover="setTab(1,1)" onmouseout="yincang()">b</li>
					<li onmouseover="setTab(1,2)" onmouseout="yincang()">c</li>
					<li onmouseover="setTab(1,3)" onmouseout="yincang()">d</li>
					<li onmouseover="setTab(1,4)" onmouseout="yincang()">e</li>
					<li onmouseover="setTab(1,5)" onmouseout="yincang()">f</li>
					<li onmouseover="setTab(1,6)" onmouseout="yincang()">g</li>
					<li onmouseover="setTab(1,7)" onmouseout="yincang()">h</li>
					<li onmouseover="setTab(1,8)" onmouseout="yincang()">i</li>
					<li onmouseover="setTab(1,9)" onmouseout="yincang()">j</li>
					<li onmouseover="setTab(1,10)" onmouseout="yincang()">k</li>
					<li onmouseover="setTab(1,11)" onmouseout="yincang()">l</li>
					<li onmouseover="setTab(1,12)" onmouseout="yincang()">m</li>
					<li onmouseover="setTab(1,13)" onmouseout="yincang()">n</li>
					<li onmouseover="setTab(1,14)" onmouseout="yincang()">o</li>
					<li onmouseover="setTab(1,15)" onmouseout="yincang()">p</li>
					<li onmouseover="setTab(1,16)" onmouseout="yincang()">q</li>
					<li onmouseover="setTab(1,17)" onmouseout="yincang()">r</li>
					<li onmouseover="setTab(1,18)" onmouseout="yincang()">s</li>
					<li onmouseover="setTab(1,19)" onmouseout="yincang()">t</li>
					<li onmouseover="setTab(1,20)" onmouseout="yincang()">u</li>
					<li onmouseover="setTab(1,21)" onmouseout="yincang()">v</li>
					<li onmouseover="setTab(1,22)" onmouseout="yincang()">w</li>
					<li onmouseover="setTab(1,23)" onmouseout="yincang()">x</li>
					<li onmouseover="setTab(1,24)" onmouseout="yincang()">y</li>
					<li onmouseover="setTab(1,25)" onmouseout="yincang()">z</li>
				</ul>
			</div>
			<div class="main1box">
				<div class="main" id="main1">
					<!--a-->
					<div class="none" id="c0" onmouseover="view(this.id)" onmouseout="doview(this.id)">
						<a href="#" title="" onFocus="this.blur()">滤油机器</a>
						<a href="#" title="" onFocus="this.blur()">炼油设备</a>
						<a href="#" title="" onFocus="this.blur()">沥青</a>
						<a href="#" title="" onFocus="this.blur()">量具</a>
						<a href="#" title="" onFocus="this.blur()">炼厂用添加剂</a>
						<a href="#" title="" onFocus="this.blur()">流量计</a>
						<a href="#" title="" onFocus="this.blur()">录井仪器</a>
						<a href="#" title="" onFocus="this.blur()">炼化仪器</a>
						<a href="#" title="" onFocus="this.blur()">炼厂用添加剂</a>
					</div >
					<!--b-->
					<div id="c1" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--c-->
					<div class="none" id="c2"  onmouseover="view(this.id)" onmouseout="doview(this.id)">
						<a href="#" title="" onFocus="this.blur()">滤油机器</a>
						<a href="#" title="" onFocus="this.blur()">炼油设备</a>
						<a href="#" title="" onFocus="this.blur()">沥青</a>
						<a href="#" title="" onFocus="this.blur()">量具</a>
						<a href="#" title="" onFocus="this.blur()">炼厂用添加剂</a>
						<a href="#" title="" onFocus="this.blur()">流量计</a>
						<a href="#" title="" onFocus="this.blur()">录井仪器</a>
						<a href="#" title="" onFocus="this.blur()">炼化仪器</a>
						<a href="#" title="" onFocus="this.blur()">炼厂用添加剂</a>
					</div >
					<!--d-->
					<div class="none" id="c3" onmouseover="view(this.id)" onmouseout="doview(this.id)">
						<a href="#" title="" onFocus="this.blur()">滤油机器</a>
						<a href="#" title="" onFocus="this.blur()">炼油设备</a>
						<a href="#" title="" onFocus="this.blur()">沥青</a>
						<a href="#" title="" onFocus="this.blur()">量具</a>
						<a href="#" title="" onFocus="this.blur()">炼厂用添加剂</a>
						<a href="#" title="" onFocus="this.blur()">流量计</a>
						<a href="#" title="" onFocus="this.blur()">录井仪器</a>
						<a href="#" title="" onFocus="this.blur()">炼化仪器</a>
						<a href="#" title="" onFocus="this.blur()">炼厂用添加剂</a>
					</div >
					<!--e-->
					<!--d-->
					<div class="none" id="c4" onmouseover="view(this.id)" onmouseout="doview(this.id)">
						<a href="#" title="" onFocus="this.blur()">滤油机器</a>
						<a href="#" title="" onFocus="this.blur()">炼油设备</a>
						<a href="#" title="" onFocus="this.blur()">沥青</a>
						<a href="#" title="" onFocus="this.blur()">量具</a>
						<a href="#" title="" onFocus="this.blur()">炼厂用添加剂</a>
						<a href="#" title="" onFocus="this.blur()">流量计</a>
						<a href="#" title="" onFocus="this.blur()">录井仪器</a>
						<a href="#" title="" onFocus="this.blur()">炼化仪器</a>
						<a href="#" title="" onFocus="this.blur()">炼厂用添加剂</a>
					</div >
					<!--f-->
					<div class="none" id="c5" onmouseover="view(this.id)" onmouseout="doview(this.id)">
						<a href="#" title="" onFocus="this.blur()">滤油机器</a>
						<a href="#" title="" onFocus="this.blur()">炼油设备</a>
						<a href="#" title="" onFocus="this.blur()">沥青</a>
						<a href="#" title="" onFocus="this.blur()">量具</a>
						<a href="#" title="" onFocus="this.blur()">炼厂用添加剂</a>
						<a href="#" title="" onFocus="this.blur()">流量计</a>
						<a href="#" title="" onFocus="this.blur()">录井仪器</a>
						<a href="#" title="" onFocus="this.blur()">炼化仪器</a>
						<a href="#" title="" onFocus="this.blur()">炼厂用添加剂</a>
					</div >
					<!--g-->
					<div id="c6" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--d-->
					<div id="c7" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--h-->
					<div id="c8" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--i-->
					<div id="c9" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--j-->
					<div  id="c10" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--k-->
					<div id="c11" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--l-->
					<div id="c12" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--m-->
					<div id="c13" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--n-->
					<div id="c14" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--o-->
					<div id="c15" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--p-->
					<div id="c16" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--q-->
					<div id="c17" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--r-->
					<div id="c18" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--s-->
					<div id="c19" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--t-->
					<div id="c20" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--v-->
					<div id="c21" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--w-->
					<div id="c22" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--x-->
					<div id="c23" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--y-->
					<div id="c24" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
					<!--z-->
					<div id="c25" onmouseover="view(this.id)" onmouseout="doview(this.id)">没有拼音字母("b")开头的类目 </div >
				</div>
			</div>
			<!--abc结束-->

			<!--分类-->
			<div class="allList" id="allList">
				<ul id="ul0" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">石油装备</a>
						<a href="#" title="" onFocus="this.blur()">钻采设备</a>
						<a href="#" title="" onFocus="this.blur()">固井、完井设备</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">滤油机器</a>
						<a href="#" title="" onFocus="this.blur()">废油再生设备</a>
						<a href="#" title="" onFocus="this.blur()">油水分离设备</a>
						<a href="#" title="" onFocus="this.blur()">油田水处理设备</a>
						<a href="#" title="" onFocus="this.blur()">测试机械</a>
						<a href="#" title="" onFocus="this.blur()">油气井井口装置</a>
						<a href="#" title="" onFocus="this.blur()">油气集输设备</a>
						<a href="#" title="" onFocus="this.blur()">海洋钻修平台</a>
						<a href="#" title="" onFocus="this.blur()">钻修井机</a>
						<a href="#" title="" onFocus="this.blur()">特种车辆</a>
						<a href="#" title="" onFocus="this.blur()">其他</a>
					</li>
				</ul>
				<ul id="ul1" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">石油化工</a>
						<a href="#" title="" onFocus="this.blur()">中间体</a>
						<a href="#" title="" onFocus="this.blur()">聚合物</a>
						<a href="#" title="" onFocus="this.blur()">有机原料</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">橡胶及制品</a>
						<a href="#" title="" onFocus="this.blur()">涂料油漆</a>
						<a href="#" title="" onFocus="this.blur()">催化剂及助剂</a>
						<a href="#" title="" onFocus="this.blur()">塑料及制品</a>
						<a href="#" title="" onFocus="this.blur()">测试机械</a>
						<a href="#" title="" onFocus="this.blur()">无机化工</a>
						<a href="#" title="" onFocus="this.blur()">化工设备</a>
						<a href="#" title="" onFocus="this.blur()">胶粘剂</a>
						<a href="#" title="" onFocus="this.blur()">其他</a>
					</li>
				</ul>
				<ul  id="ul2" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">物资装备</a>
						<a href="#" title="" onFocus="this.blur()">工程机具</a>
						<a href="#" title="" onFocus="this.blur()">管道及配件</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">储存设备</a>
						<a href="#" title="" onFocus="this.blur()">炼油设备</a>
						<a href="#" title="" onFocus="this.blur()">机电设备</a>
						<a href="#" title="" onFocus="this.blur()">阀门设备</a>
						<a href="#" title="" onFocus="this.blur()">加油站设备</a>
						<a href="#" title="" onFocus="this.blur()">润滑设备</a>
						<a href="#" title="" onFocus="this.blur()">混合设备</a>
						<a href="#" title="" onFocus="this.blur()">填料</a>
						<a href="#" title="" onFocus="this.blur()">安全防护</a>
						<a href="#" title="" onFocus="this.blur()">油井水泥</a>
						<a href="#" title="" onFocus="this.blur()">粉碎设备</a>
						<a href="#" title="" onFocus="this.blur()">消防设备</a>
						<a href="#" title="" onFocus="this.blur()">专用密封</a>
						<a href="#" title="" onFocus="this.blur()">泵</a>
						<a href="#" title="" onFocus="this.blur()">交通运输设备</a>
					</li>
				</ul>
				<ul id="ul3" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">石油产品</a>
						<a href="#" title="" onFocus="this.blur()">成品油</a>
						<a href="#" title="" onFocus="this.blur()">原油</a>
						<a href="#" title="" onFocus="this.blur()">柴油</a>
						<a href="#" title="" onFocus="this.blur()">燃料油</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">气体燃料</a>
						<a href="#" title="" onFocus="this.blur()">天然气</a>
						<a href="#" title="" onFocus="this.blur()">二甲醚</a>
						<a href="#" title="" onFocus="this.blur()">石蜡</a>
						<a href="#" title="" onFocus="this.blur()">沥青</a>
						<a href="#" title="" onFocus="this.blur()">溶剂油</a>
						<a href="#" title="" onFocus="this.blur()">基础油</a>
						<a href="#" title="" onFocus="this.blur()">石油焦</a>
						<a href="#" title="" onFocus="this.blur()">其他</a>
					</li>
				</ul>
				<ul id="ul4" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">石油工具</a>
						<a href="#" title="" onFocus="this.blur()">钻井工具</a>
						<a href="#" title="" onFocus="this.blur()">磨铣工具</a>
						<a href="#" title="" onFocus="this.blur()">采油工具</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">打捞工具</a>
						<a href="#" title="" onFocus="this.blur()">防砂工具</a>
						<a href="#" title="" onFocus="this.blur()">固井工具</a>
						<a href="#" title="" onFocus="this.blur()">取心工具</a>
						<a href="#" title="" onFocus="this.blur()">井控工具</a>
						<a href="#" title="" onFocus="this.blur()">井口装置</a>
						<a href="#" title="" onFocus="this.blur()">解卡工具</a>
						<a href="#" title="" onFocus="this.blur()">量具</a>
						<a href="#" title="" onFocus="this.blur()">刀具</a>
						<a href="#" title="" onFocus="this.blur()">钻采配件</a>
						<a href="#" title="" onFocus="this.blur()">修井工具</a>
						<a href="#" title="" onFocus="this.blur()">套管工具</a>
						<a href="#" title="" onFocus="this.blur()">其他</a>
					</li>
				</ul>
				<ul id="ul5" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">石油助剂</a>
						<a href="#" title="" onFocus="this.blur()">油田用添加剂</a>
						<a href="#" title="" onFocus="this.blur()">燃料油添加剂</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">润滑油添加剂</a>
						<a href="#" title="" onFocus="this.blur()">炼厂用添加剂</a>
						<a href="#" title="" onFocus="this.blur()">辛烷值催化</a>
						<a href="#" title="" onFocus="this.blur()">叠合类</a>
						<a href="#" title="" onFocus="this.blur()">催化裂化类</a>
						<a href="#" title="" onFocus="this.blur()">制氢类</a>
						<a href="#" title="" onFocus="this.blur()">催化重整类</a>
						<a href="#" title="" onFocus="this.blur()">醚化类</a>
						<a href="#" title="" onFocus="this.blur()">烃化类</a>
						<a href="#" title="" onFocus="this.blur()">加氢精制类</a>
						<a href="#" title="" onFocus="this.blur()">异构化类</a>
						<a href="#" title="" onFocus="this.blur()">化学试剂</a>
						<a href="#" title="" onFocus="this.blur()">炼油助剂</a>
						<a href="#" title="" onFocus="this.blur()">油田助剂</a>
						<a href="#" title="" onFocus="this.blur()">其他</a>
					</li>
				</ul>
				<ul id="ul6" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">仪器仪表</a>
						<a href="#" title="" onFocus="this.blur()">石油检测仪器</a>
						<a href="#" title="" onFocus="this.blur()">勘探开发仪器</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">分析仪器仪表</a>
						<a href="#" title="" onFocus="this.blur()">采油仪器</a>
						<a href="#" title="" onFocus="this.blur()">钻井仪器</a>
						<a href="#" title="" onFocus="this.blur()">测井仪器</a>
						<a href="#" title="" onFocus="this.blur()">流量计</a>
						<a href="#" title="" onFocus="this.blur()">自动化仪器</a>
						<a href="#" title="" onFocus="this.blur()">录井仪器</a>
						<a href="#" title="" onFocus="this.blur()">实验室仪器</a>
						<a href="#" title="" onFocus="this.blur()">安检仪器</a>
						<a href="#" title="" onFocus="this.blur()">电工仪器</a>
						<a href="#" title="" onFocus="this.blur()">地震探物仪器</a>
						<a href="#" title="" onFocus="this.blur()">炼化仪器</a>
						<a href="#" title="" onFocus="this.blur()">锅炉仪器</a>
						<a href="#" title="" onFocus="this.blur()">其他</a>
					</li>
				</ul>
				<ul id="ul7" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">润滑油脂</a>
						<a href="#" title="" onFocus="this.blur()">通用脂</a>
						<a href="#" title="" onFocus="this.blur()">冶金脂</a>
						<a href="#" title="" onFocus="this.blur()">轴承脂</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">汽车脂</a>
						<a href="#" title="" onFocus="this.blur()">铁路脂</a>
						<a href="#" title="" onFocus="this.blur()">导轨脂</a>
						<a href="#" title="" onFocus="this.blur()">润滑油</a>
						<a href="#" title="" onFocus="this.blur()">工业齿轮油</a>
						<a href="#" title="" onFocus="this.blur()">热传导油</a>
						<a href="#" title="" onFocus="this.blur()">发动机油</a>
						<a href="#" title="" onFocus="this.blur()">液压油</a>
						<a href="#" title="" onFocus="this.blur()">汽缸油</a>
						<a href="#" title="" onFocus="this.blur()">密封油</a>
						<a href="#" title="" onFocus="this.blur()">车用齿轮油</a>
						<a href="#" title="" onFocus="this.blur()">工业合成油</a>
						<a href="#" title="" onFocus="this.blur()">其他</a>
					</li>
				</ul>
				<ul id="ul8" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">动力设备</a>
						<a href="#" title="" onFocus="this.blur()">锅炉</a>
						<a href="#" title="" onFocus="this.blur()">柴油机</a>
						<a href="#" title="" onFocus="this.blur()">供电设备</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">电动机</a>
						<a href="#" title="" onFocus="this.blur()">索具</a>
						<a href="#" title="" onFocus="this.blur()">自动数控</a>
						<a href="#" title="" onFocus="this.blur()">发电机组零部件</a>
						<a href="#" title="" onFocus="this.blur()">节油设备</a>
						<a href="#" title="" onFocus="this.blur()">变压器</a>
						<a href="#" title="" onFocus="this.blur()">压力容器</a>
						<a href="#" title="" onFocus="this.blur()">升降机</a>
						<a href="#" title="" onFocus="this.blur()">输送机</a>
						<a href="#" title="" onFocus="this.blur()">尼龙吊带</a>
						<a href="#" title="" onFocus="this.blur()">动力配件</a>
						<a href="#" title="" onFocus="this.blur()">其他</a>
					</li>
				</ul>
				<ul id="ul9" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">软件技术</a>
						<a href="#" title="" onFocus="this.blur()">勘探开发系统</a>
						<a href="#" title="" onFocus="this.blur()">工艺控制系统</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">储运管理系统</a>
						<a href="#" title="" onFocus="this.blur()">销售管理系统</a>
						<a href="#" title="" onFocus="this.blur()">技术服务</a>
						<a href="#" title="" onFocus="this.blur()">技术转让</a>
						<a href="#" title="" onFocus="this.blur()">技术咨询</a>
						<a href="#" title="" onFocus="this.blur()">其他</a>
					</li>					
				</ul>
				<ul id="ul10" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">油田专用化学品</a>
						<a href="#" title="" onFocus="this.blur()">钻井用化学品</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">酸化压裂用化学品</a>
						<a href="#" title="" onFocus="this.blur()">其它化学品</a>
						<a href="#" title="" onFocus="this.blur()">采油用化学品</a>
					</li>
				</ul>
				<ul id="ul11" onmouseover="changeColor(this.id)" onmouseout="returnColor(this.id)">
					<li class="title">
						<a href="#" title="" class="one" onFocus="this.blur()">石油工程技术</a>
						<a href="#" title="" onFocus="this.blur()">钻井工程</a>
						<a href="#" title="" onFocus="this.blur()">采油工程</a>
					</li>
					<li>
						<a href="#" title="" onFocus="this.blur()">酸化缓蚀剂技术</a>
						<a href="#" title="" onFocus="this.blur()">油田增产新技术</a>
						<a href="#" title="" onFocus="this.blur()">其他</a>
					</li>
				</ul>
			</div>
			<!--分类结束-->
		</div>
	</div>
	<!--行业行业市场-->
</div>
</div>
<div class="right">

	 <!--登录-->
	 <div class="login">
		<p>免费注册为会员后您可以：</p>
		<ul>
			<li class="p1"><a href="#" title="" onFocus="this.blur()">发布供求信息</li>
			<li class="p2"><a href="#" title="" onFocus="this.blur()">申请企业商铺</a></li>
			<li class="p3"><a href="#" title="" onFocus="this.blur()">网上推广公司</a></li>
			<li class="p4"><a href="#" title="" onFocus="this.blur()">加入石油通</a></li>
		</ul>
		<a href="#" title="" onFocus="this.blur()" class="register">马上免费注册会员</a>
	 </div>
	 <!--登录结束-->

	 <!--登录后的状态-->
	 <div class="loginIn" style="display:none">
		 <div class="menu3box">
			<ul id="menu3">
				<li class="hover" onmouseover="setTab(3,0)"><span class="l1">你好,欢迎您回来</span></li>
				<li onmouseover="setTab(3,1)"><span class="l2">石油通服务</span></li>
			</ul>
		 </div>
		 <div class="main3box">
			<div class="main3" id="main3">
			   <div class="block">
					<ul class="com1">
						<li><a href="#" title="" onFocus="this.blur()">发布供求信息</a></li>
						<li><a href="#" title="" onFocus="this.blur()">管理供求信息</a></li>
						<li><a href="#" title="" onFocus="this.blur()">发布公司介绍</a></li>
						<li><a href="#" title="" onFocus="this.blur()">查看最新留言</a></li>
						<li><a href="#" title="" onFocus="this.blur()">开通企业网站</a></li>
						<li><a href="#" title="" onFocus="this.blur()">管理企业网站</a></li>
					</ul>
				</div >
			   <div>
					<dl>
						<dd><a href="#" title="" onFocus="this.blur()">石油通服务</a></dd>
						<dt><a href="#" title="" onFocus="this.blur()">供应商直达</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;咨询电话:400-810-7818</dt>
						<dd><span><a href="#" title="" onFocus="this.blur()">金榜题名</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="" onFocus="this.blur()">黄金展位</a></dd>
					</dl>
			   </div >
			</div>
		 </div>
	 </div>
	 <!--登录后的状态结束-->

	<div class="update5">
		<div>每五分钟更新一次</div>
		<div><a href="#" title="" onFocus="this.blur()">最新供求信息</a><a href="#" title="" onFocus="this.blur()">最新求购信息</a></div>
	</div>

	<!--综合资讯-->
	<h3>
		<span>
			<a href="#" title="" onFocus="this.blur()">综合资讯</a>
			<a href="#" title="" onFocus="this.blur()"><em>国际</em></a>
			<a href="#" title="" onFocus="this.blur()"><em>国内</em></a>
		</span>
		<a href="#" title="" onFocus="this.blur()">更多&#62;&#62;</a>
	</h3>
	<div class="synthesis">
		<img src="ad/101_68.gif" alt="" />
		<ul>
			<li><a href="#" title="" onFocus="this.blur()" class="firstd">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半可球</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半可能</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半能球</a></li>
		</ul>
		<dl>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支行行长可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长陈菊京访问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
		</dl>
	</div>
	<!--综合资讯结束-->
	
	<!--广告-->
	<img src="ad/312_80.gif" alt="" class="advertise312" />
	<!--广告结束-->

	<!--价格行情-->
	<h3>
		<span>
			<a href="#" title="" onFocus="this.blur()">体格行情</a>
		</span>
		<a href="#" title="" onFocus="this.blur()">更多&#62;&#62;</a>
	</h3>
	<div class="price">
		<dl>
			<dt><a href="#" title="" onFocus="this.blur()">油价突破60美元刷新六个继续大涨</a></dt>
			<dd class="Acess"><a href="#" title="" onFocus="this.blur()">国际油价缓慢攀升国内成品油批发价达到顶</a></dd>
			<dd>[<span>治金</span>]&nbsp;<a href="#" title="" onFocus="this.blur()">欧佩克强调继续限制原油产量.</a></dd>
			<dd>[<span>治金</span>]&nbsp;<a href="#" title="" onFocus="this.blur()">快讯:国际油价大幅回升 收于每桶59.0</a></dd>
			<dd>[<span>化工</span>]&nbsp;<a href="#" title="" onFocus="this.blur()">最近一周美国零售柴油价格上涨1.5美分</a></dd>
			<dd>[<span>化工</span>]&nbsp;<a href="#" title="" onFocus="this.blur()">多重因素助推国际油价强力反弹 累计升</a></dd>
			<dd>[<span>化工</span>]&nbsp;<a href="#" title="" onFocus="this.blur()">5月21日10：30油价价格行情</a></dd>
			<dd>[<span>化工</span>]&nbsp;<a href="#" title="" onFocus="this.blur()">5月21日8周来欧佩克一揽子油价趋势图</a></dd>#

		</dl>
	</div>
	<!--价格行情结束-->

	<!--化工资讯装备资讯-->
	<div class="information">
		<div class="menu2box">
			<ul id="menu2">
				<li class="hover" onmouseover="setTab(2,0)"><a href="#" title="" onFocus="this.blur()">装备资讯</a></li>
				<li onmouseover="setTab(2,1)"><a href="#" title="" onFocus="this.blur()">化工资讯</a></li>
				<li style="float:right"><a href="#" title="" onFocus="this.blur()" class="more">更多&#62;&#62;</a></li>
			</ul>
		 </div>
		 <div class="main2box">
			 <div id="main2">
				<div class="block">
					<img src="ad/101_68.gif" alt="" />
					<ul>
						<li><a href="#" title="" onFocus="this.blur()" class="firstd">莫利斯：可能球队只有一半</a></li>
						<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
						<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
						<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
					</ul>
					<dl>
						<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">高雄市长问</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支行行长可</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">高雄市长陈菊京访问</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
					</dl>
				</div >
				<div >
					<img src="ad/101_68.gif" alt="" />
					<ul>
						<li><a href="#" title="" onFocus="this.blur()" class="firstd">莫利斯：2能球队只有一半</a></li>
						<li><a href="#" title="" onFocus="this.blur()">莫利斯：2能球队只有一半</a></li>
						<li><a href="#" title="" onFocus="this.blur()">莫利斯：2能球队只有一半</a></li>
						<li><a href="#" title="" onFocus="this.blur()">莫利斯：2能球队只有一半</a></li>
					</ul>
					<dl>
						<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">高雄市长问</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支行行长可</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">高雄市长陈菊京访问</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
						<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
					</dl>
				</div >
			 </div>
		</div>
	</div>
	<!--化工资讯装备资讯结束-->
	
</div>

<!--顶部导航-->
<div class="topNav">
	<dl id="nav">
		<dt><a href="http://www.21oil.com" class="first">设为首页</a></dt>
		<dt><a href="http://www.21oil.com" onclick="window.external.addFavorite(this.href,this.title);return false;" title='石油信息网是中国领先的石油商贸平台' rel="sidebar">添加收藏</a></dt>
		<dt onmouseover=" this.className='hover'" onmouseout="this.className=''">
			<a href="#" title="" onFocus="this.blur()" class="arrow">石油信息网服务</a>
			<ul class="list1">
				<li><a href="/member/nonoil/supplier_nonstop001a.html" >供应商直达</a></li>
				<li><a href="/member/keyname/jbindex.jsp">金榜题名</a></li>
				<li><a href="/member/yellowdirt/hjzw_jieshao.html">黄金展位</a></li>
				<li><a href="http://bbs.21oil.com">石油论坛</a></li>
			</ul>
		</dt>
		<dd class="gdyt" onmouseover=" this.className='hover'" onmouseout="this.className=''">
			<a href="#" title="" onFocus="this.blur()" class="arrow3">各大油田</a>
			<ul class="list3">
				<li><a href="http://www.slof.com/" target="_top">胜利油田</a></li>
				<li><a href="http://www.cnpc.com.cn/dq/" target="_blank">大庆油田</a></li>
				<li><a href="http://www.zytx.com.cn/" target="_blank">中原油田</a></li>
				<li><a href="http://www.cnpc.com.cn/cnpc/cyqy/gfgs/yqt/hbyt.htm" target="_blank">华北油田</a></li>
				<li><a href="http://www.cnpc.com.cn/cnpc/cyqy/gfgs/yqt/hbyt.htm" target="_blank">渤海油田</a></li>
				<li><a href="http://www.cnpc.com.cn/cnpc/" target="_blank">吉林油田</a></li>
				<li><a href="http://www.hnyt.com/" target="_blank">河南油田</a></li>
				<li><a href="http://www.cnpc.com.cn/sc/" target="_blank">四川油田</a></li>
				<li><a href="http://www.cnpc.com.cn/sc/" target="_blank">江苏油田</a></li>
				<li><a href="http://www.jhsyxxg.cn/html/index.html" target="_blank">江汉油田</a></li>
				<li><a href="http://www.cnpc.com.cn/cnpc/" target="_blank">其他油田</a></li>
			</ul>
		</dd>
		<dd onmouseover=" this.className='hover'" onmouseout="this.className=''">
			<a href="/about/server.html" class="arrow2">我的商务中心</a>
			<ul class="list2">
				<li><a href="http://www.slof.com/" >登录</a></li>
				<li><a href="http://www.cnpc.com.cn/dq/">发布信息</a></li>
			</ul>
		</dd>
		<dd><a href="/member/oilt/web.html" class="syt"></a></dd>
		<dd><a href="/member/oilt/web.html" class="qysp">企业商铺</a></dd>
		<dd >
			<p>您好,欢迎来到石油信息网&nbsp;&nbsp;<a href="http://www.21oil.com/member/index.html" title="" onFocus="this.blur()">[请登录]</a><a href="http://www.21oil.com/member/Newcregister.html" title="" onFocus="this.blur()">[免费注册]</a>&nbsp;&nbsp;</p>
		</dd>
	</dl>
</div>
<!--顶部结束-->

<!--960广告-->
<img src="ad/960_90.gif" alt="" class="advertise960" />
<!--960广告结束-->

<!--专家访谈-->
<div class="blue6">
	<h2>
		<span>专家访谈</span>
		<a href="#" title="" onFocus="this.blur()">更多&#62;&#62;</a>
	</h2>
	<div class="borderBlue">
		<img src="ad/101_68.gif" alt="" />
		<ul>
			<li><a href="#" title="" onFocus="this.blur()" class="firstd">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
		</ul>
		<dl>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支行行长可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长陈菊京访问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
		</dl>
	</div>
</div>
<!--专家访谈结束-->

<!--人才招聘-->
<div class="blue6 edge">
	<h2>
		<span>人才招聘</span>
		<a href="#" title="" onFocus="this.blur()">更多&#62;&#62;</a>
	</h2>
	<div class="borderBlue">
		<ul class="zp">
			<li><a href="#" title="" onFocus="this.blur()" class="firstd">莫利斯：可能球</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只</a></li>
		</ul>
		<ul class="zp">
			<li><a href="#" title="" onFocus="this.blur()" class="firstd">莫利斯：可能球队</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能队有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有</a></li>
		</ul>
		<dl>
	</div>
</div>
<!--人才招聘结束-->

<!--石油展会-->
<div class="blue6">
	<h2>
		<span>石油展会</span>
		<a href="#" title="" onFocus="this.blur()">更多&#62;&#62;</a>
	</h2>
	<div class="borderBlue">
		<img src="ad/101_68.gif" alt="" />
		<ul>
			<li><a href="#" title="" onFocus="this.blur()" class="firstd">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
		</ul>
		<dl>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支行行长可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长陈菊京访问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
		</dl>
	</div>
</div>
<!--石油展会结束-->
<div style="height:6px;display:block;clear:both;overflow:hidden;"></div>

<!--库存二手-->
<div class="blue6">
	<h2>
		<span>库存二手</span>
		<a href="#" title="" onFocus="this.blur()">更多&#62;&#62;</a>
	</h2>
	<div class="borderBlue">
		<img src="ad/101_68.gif" alt="" />
		<ul>
			<li><a href="#" title="" onFocus="this.blur()" class="firstd">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
		</ul>
		<dl>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支行行长可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长陈菊京访问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
		</dl>
	</div>
</div>
<!--库存二手结束-->

<!--招商-->
<div class="blue6 edge">
	<h2>
		<span>&nbsp;招&nbsp;&nbsp;商&nbsp;</span>
		<a href="#" title="" onFocus="this.blur()">更多&#62;&#62;</a>
	</h2>
	<div class="borderBlue">
		<img src="ad/101_68.gif" alt="" />
		<ul>
			<li><a href="#" title="" onFocus="this.blur()" class="firstd">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
		</ul>
		<dl>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支行行长可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长陈菊京访问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
		</dl>
	</div>
</div>
<!--招商结束-->

<!--招标-->
<div class="blue6">
	<h2>
		<span>&nbsp;招&nbsp;&nbsp;标&nbsp;</span>
		<a href="#" title="" onFocus="this.blur()">更多&#62;&#62;</a>
	</h2>
	<div class="borderBlue">
		<img src="ad/101_68.gif" alt="" />
		<ul>
			<li><a href="#" title="" onFocus="this.blur()" class="firstd">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
			<li><a href="#" title="" onFocus="this.blur()">莫利斯：可能球队只有一半</a></li>
		</ul>
		<dl>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">安徽阜阳农行支行行长可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">高雄市长陈菊京访问</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">日本媒体称在日中国</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">双色球头奖杀手TOP10</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警告称GPS可</a></dd>
			<dd><a href="#" title="" onFocus="this.blur()">美政府警</a></dd>
		</dl>
	</div>
</div>
<!--招标结束-->
</div>

<!--广告位-->
<div class="advertise152">
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_01.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_02.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_03.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_04.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_05.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()" class="none"><img src="ad/bottom_06.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_07.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_08.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_09.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_10.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_11.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()" class="none"><img src="ad/bottom_12.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_13.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_14.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_15.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_16.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()"><img src="ad/bottom_17.gif" alt="" /></a>
	<a href="#" title="" onFocus="this.blur()" class="none"><img src="ad/bottom_18.gif" alt="" /></a>
</div>
<!--广告位结束-->

<!--合作与支持单位-->
<div class="collaboration">
	<span>合作与支持单位：</span>
	<a href="#" title="" onFocus="this.blur()">挖软件</a>
	<a href="#" title="" onFocus="this.blur()">大众点评网</a>
	<a href="#" title="" onFocus="this.blur()">中国户外资料网</a>
	<a href="#" title="" onFocus="this.blur()">计算机应用文摘 </a>
	<a href="#" title="" onFocus="this.blur()">PPS网络电视</a>
	<a href="#" title="" onFocus="this.blur()">在线漫画</a>
	<a href="#" title="" onFocus="this.blur()">网页特效</a>
	<a href="#" title="" onFocus="this.blur()">IT专家网</a>
	<a href="#" title="" onFocus="this.blur()">Leica中文</a>
	<a href="#" title="" onFocus="this.blur()">中国网管联盟</a>
</div>
<!--合作与支持单位结束-->

<!--footer-->
<dl class="footer">
	<dt>
		<a href="#" title="" onFocus="this.blur()">设为首页</a>
		<a href="#" title="" onFocus="this.blur()">关于我们</a>
		<a href="#" title="" onFocus="this.blur()">广告服务</a>
		<a href="#" title="" onFocus="this.blur()">客服中心</a>
		<a href="#" title="" onFocus="this.blur()">人才招聘</a>
		<a href="#" title="" onFocus="this.blur()" class="none">联系我们</a>
	</dt>
	<dd>
		<a href="#" title="" onFocus="this.blur()"><img src="images/oilhome_01.gif" alt="" /></a>
		<a href="#" title="" onFocus="this.blur()"><img src="images/oilhome_02.gif" alt="" /></a>
		<a href="#" title="" onFocus="this.blur()"><img src="images/oilhome_03.gif" alt="" /></a>
	</dd>
	<dd>
		服务热线：400-810-7818<a href="#" title="" onFocus="this.blur()">京ICP备09034915号</a>
	</dd>
</dl>
<!--footer结束-->

</body>
</html>